---
import Layout from "../layouts/layouts.astro";
import about_portrait from "../images/william-mison-about-portrait.png";
import elementor from "../images/Elementor.svg";
import beaver from "../images/Beaver Builder.svg";
import divi from "../images/Divi.svg";
import kadence from "../images/Kadence.svg";
import woocommerce from "../images/Woocommerce.svg";
import acf from "../images/ACF.svg";
import gravity from "../images/Gravity Forms.svg";
import ci from '../images/Codeigniter.svg';
import wp from '../images/Wordpress.svg';
import cake from '../images/CakePHP.svg';
import magento from '../images/Magento.svg';
import php from '../images/PHP.svg';
import js from '../images/JS.svg';
import jquery from '../images/JQuery.svg';
import sql from '../images/MySQL.svg';
import git from '../images/Git.svg';
import html from '../images/HTML.svg';
import css from '../images/CSS.svg';
import scss from '../images/Scss.svg';
import bt from '../images/Bootstrap.svg';
import md from '../images/Material Design.svg';
import figma from '../images/Figma.svg';
import xd from '../images/XD.svg';
import ps from '../images/PS.svg';
import ai from '../images/AI.svg';
---
<Layout title="About">
<!-- about contents -->
<div class="banner section about">
    <div class="grid-2 banner">
        <div class="grid-left">
            <div class="about-intro">
                <p>Hi there I’m William, IT Professional with over 5 years of experience specializing in Web Development for local and international website and application development and support company. </p>
                <p>I excel at website design and infrastructures which using effective techniques and strategies at local and global levels. I have worked with various clients and projects in which I bring the best product on every task I join in.</p>
                <h4 class="pad-top-30">Entertaining  facts:</h4>
                <p class="fun-facts"><span id="changeHover">sometimes</span><span id="hoverText">most of the time</span> I sing when I code 🤣</p>
            </div>
        </div>
        <div class="grid-right">
            <img src={about_portrait} alt="william mison portrait">
        </div>
    </div>

    <div class="grid-2">
        <div class="grid-left pad-top-50">
            <h2 class="intro-heading">Education</h2>
            <div class="block-list-item">
                <h3>Masters in Business Administration</h3>
                <p>Columban College, Olongapo</p>
            </div>
            <div class="block-list-item">
                <h3>Bachelor of Science in Information Technology</h3>
                <p>Aura College, Subic Bay Freeport Zone</p>
            </div>
        </div>
        <div class="grid-right pad-top-50">
            <h2 class="intro-heading">What I'm currently into</h2>
            <div class="block-list-item">
                <h3>Astro Js</h3>
                <p>High speed js framework for frontend web architecture</p>
            </div>
            <div class="block-list-item">
                <h3>React Js</h3>
                <p>Meta's javaScript library for building user interfaces based on UI components. </p>
            </div>
        </div>
    </div>

    <div class="banner section about pad-top-50">
        <div class="one-full">
            <h2 class="intro-heading">Tools</h2>
            <h3 class="pad-top-50">Wordpress</h3>
            <div class="logo-grid pad-top-30">
                <div class="tooltip" data-tooltip="Elementor">
                    <img src={elementor} alt="elementor">
                </div>
                <div class="tooltip" data-tooltip="Beaver Builder">
                    <img src={beaver} alt="beaver builder">
                </div>
                <div class="tooltip" data-tooltip="Divi">
                    <img src={divi} alt="divi">
                </div>
                <div class="tooltip" data-tooltip="Kadence">
                    <img src={kadence} alt="kadence">
                </div>
                <div class="tooltip" data-tooltip="Woocommerce">
                    <img src={woocommerce} alt="woocommerce">
                </div>
                <div class="tooltip" data-tooltip="Advance Custom Fields">
                    <img src={acf} alt="advance custom fields">
                </div>
                <div class="tooltip" data-tooltip="Gravity Forms">
                    <img src={gravity} alt="gravity forms">
                </div>
            </div>
        </div>
        <div class="one-full">
            <h3 class="pad-top-50">Frameworks</h3>
            <div class="logo-grid pad-top-30">
                <div class="tooltip" data-tooltip="Codeigniter">
                    <img src={ci} alt="codeigniter">
                </div>
                <div class="tooltip" data-tooltip="Wordpress">
                    <img src={wp} alt="wordpress">
                </div>
                <div class="tooltip" data-tooltip="CakePHP">
                    <img src={cake} alt="cakephp">
                </div>
                <div class="tooltip" data-tooltip="Magento">
                    <img src={magento} alt="magento">
                </div>
            </div>
        </div>
        <div class="one-full">
            <h3 class="pad-top-50">Programing</h3>
            <div class="logo-grid pad-top-30">
                <div class="tooltip" data-tooltip="PHP">
                    <img src={php} alt="php">
                </div>
                <div class="tooltip" data-tooltip="JS">
                    <img src={js} alt="js">
                </div>
                <div class="tooltip" data-tooltip="JQuery">
                    <img src={jquery} alt="jquery">
                </div>
                <div class="tooltip" data-tooltip="MySQL">
                    <img src={sql} alt="mysql">
                </div>
                <div class="tooltip" data-tooltip="Git">
                    <img src={git} alt="git">
                </div>
            </div>
        </div>
        <div class="one-full">
            <h3 class="pad-top-50">Web Design / Development</h3>
            <div class="logo-grid pad-top-30">
                <div class="tooltip" data-tooltip="HTML 5">
                    <img src={html} alt="html5">
                </div>
                <div class="tooltip" data-tooltip="Css 3">
                    <img src={css} alt="css3">
                </div>
                <div class="tooltip" data-tooltip="Scss/Sass">
                    <img src={scss} alt="sass">
                </div>
                <div class="tooltip" data-tooltip="Bootstrap">
                    <img src={bt} alt="bootstrap">
                </div>
                <div class="tooltip" data-tooltip="Material Design">
                    <img src={md} alt="material design">
                </div>
                <div class="tooltip" data-tooltip="Figma">
                    <img src={figma} alt="figma">
                </div>
                <div class="tooltip" data-tooltip="Adobe XD">
                    <img src={xd} alt="adobe xd">
                </div>
            </div>
        </div>
        <div class="one-full">
            <h3 class="pad-top-50">Graphic Design</h3>
            <div class="logo-grid pad-top-30">
                <div class="tooltip" data-tooltip="Adobe Photoshop">
                    <img src={ps} alt="adobe photoshop logo">
                </div>
                <div class="tooltip" data-tooltip="Adobe Illustrator">
                    <img src={ai} alt="adobe illustrator logo">
                </div>
            </div>
        </div>
    </div>
    <div class="one-full">
        <div class="bottom-cta">
            <div class="grid-2">
                <div class="grid-left">
                    <h1>Start a project</h1>
                    <p>Interested in working together?</p>
                </div>
                <div class="grid-right">
                    <a class="btn" href="mailto:misonwilliam@gmail.com">Contact Me!</a>
                    <a href="https://join.skype.com/invite/WniJAaB8z45v" target="_blank"><i class="mdi mdi-skype"></i>live:misonwilliam</a>
                </div>
            </div>
        </div>
    </div>
</div>
</Layout>