---
import Layout from "../layouts/layouts.astro";
import sm from "../images/projects/Shepherdess.jpg";
import ggs from "../images/projects/Global Green Solutions.jpg";
import agritech from "../images/projects/Agritech.jpg";
import twa from "../images/projects/Trips to Walk About.jpg";
import ols from "../images/projects/Our Lady's School.jpg";
import mpa from "../images/projects/Master Performance Academy.jpg";
---
<Layout title="Work">
    <div class="banner section work">
        <div class="one-full">
            <h2 class="intro-heading pad-top-30">Recent Projects</h2>
            <div class="projects-grid pad-top-30">
                <div class="project-wrapper">
                    <img src={sm} alt="shepherdess magazine">
                    <div class="project-info">
                        <a href="http://shepherdessmagazine.flywheelsites.com/" target="_blank">
                            <h5>Shepherdess Magazine</h5>
                        </a>
                    </div>
                </div>
                <div class="project-wrapper">
                    <img src={ggs} alt="global green solutions">
                    <div class="project-info">
                        <a href="https://greenglobal.co.nz/" target="_blank">
                            <h5>Global Green Solutions</h5>
                        </a>
                    </div>
                </div>
                <div class="project-wrapper">
                    <img src={agritech} alt="agritech">
                    <div class="project-info">
                        <a href="https://agritech-group.nz/" target="_blank">
                            <h5>Agritech</h5>
                        </a>
                    </div>
                </div>
                <div class="project-wrapper">
                    <img src={twa} alt="trips to walk about">
                    <div class="project-info">
                        <a href="https://tripstowalkabout.com/" target="_blank">
                            <h5>Trips to Walk About</h5>
                        </a>
                    </div>
                </div>
                <div class="project-wrapper">
                    <img src={ols} alt="our ladys school">
                    <div class="project-info">
                        <a href="https://olcs.org/">
                            <h5>Our Lady's School</h5>
                        </a>
                    </div>
                </div>
                <div class="project-wrapper">
                    <img src={mpa} alt="master performance academy">
                    <div class="project-info">
                        <a href="http://shepherdessmagazine.flywheelsites.com/">
                            <h5>Master Performance Academy</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="one-full pad-top-50 experience">
            <h2 class="intro-heading pad-top-50">Experience</h2>
            <div class="block-list-item">
                <h3>GoWP, Roswell Georgia</h3>
                <h4>Wordpress Developer and Designer</h4>
                <p>Develop different wordpress sites using various wordpress tools/plugins, themes and builders. From content edits and page building to full site development and website maintenance.</p>
            </div>
            <div class="block-list-item">
                <h3>iFormatLogic - Olongapo</h3>
                <h4>Web Developer/Programmer and Designer</h4>
                <p>Work as frontend and backend developer to many website and web application using different frameworks. Assist the projects from development to production and maintenance </p>
            </div>
            <div class="block-list-item">
                <h3>JRCN Security Agency Inc. / JRCN Security Training Academy Inc.</h3>
                <h4>Technical and IT. Support</h4>
                <p>Current on-call technical support and designer for over 5 years. Graphic and logo designer for banner, cover pages, id layouts, stickers, etc. </p>
            </div>
        </div>
        <hr class="spacer">
        <div class="one-full">
            <div class="bottom-cta">
                <div class="grid-2">
                    <div class="grid-left">
                        <h1>Start a project</h1>
                        <p>Interested in working together?</p>
                    </div>
                    <div class="grid-right">
                        <a class="btn" href="mailto:misonwilliam@gmail.com">Contact Me!</a>
                        <a href="https://join.skype.com/invite/WniJAaB8z45v" target="_blank"><i class="mdi mdi-skype"></i>live:misonwilliam</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>